
.header{
    position:absolute;
    width:411px;
    height:65px;
    left:514px;
    top:18px;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-style: 400;
    font-size: 48px;
    line-height:135%;
    color:#0BBBD3;
}
.header__span{
    color: #000000
}
.fon{
background-image: url("./img/Успенський\ собор\ 1.jpg");
background-size: contain;
background-repeat: no-repeat;
position: absolute;
width: 1440px;
height: 852px;
top:103px;
}
.box {
width:24px;
height:388px;
background: linear-gradient(#33B8F1 50%,#E8F82F 50%);
position:absolute;
top:321px;
left:80px;
}
.box > div{
font-size: 64px;

}
.midtext > div{
position:absolute;
width: 789px;
height: 313px;
left: 163px;
top: 359px;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 106px;
color:#FFFFFF;
}
.under{
    position:absolute;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    width: 361px;
    height: 64px;
    top: 1015px;
    left:76px;
    font-size: 45px;
    line-height: 80px;
    color:#000000;
}
.bluelign{
    width: 361px;
    height: 5px;
    top: 1085px;
    left: 70px;
    color: #33B8F1;
    position: absolute;

}
.card{
    position: absolute;
    width: 396px;
    height: 149px;
    top: 1221px;
    left: 70px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 53px;
    color: #595050;
    position: absolute;
    width: 399px;
    height: 481px;
    left: 80px;
    top: 1221px;
    background-color: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.card-img{
    width: 100%;
}
.secondcard{
    width: 404px;
    height:60px;
    top:1221px;
    left:518px;
    position: absolute;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    color: #030303;
    position: absolute;
    width: 399px;
    height:481px;
    left:518px;
    top:1221px;
    background-color: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
   

   
}
.secondcardimg {
    width: 100%;
}
.thirdcard {
    width:408px;
    height: 59px;
    top: 1221px;
    left:952px;
    position: absolute;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 59px;
    color: #040505;
    position: absolute;
    width: 408px;
    height: 481px;
    left: 952px;
    top: 1221px;
    background-color: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}
.thirdimg {
    width:100%;
}
.undertower {
    position: absolute;
    width: 473px;
    height: 64px;
    left: 464px;
    top: 1761px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 80px;
    color: #000000;
}
.centrlign {
    width: 300px;
    height: 5px;
    left: 490px;
    background-color: #33B8F1;
    position: absolute;
}
.yellow {
    position: absolute;
    width: 973px;
    height: 877px;
    left: 25px;   
}
.heartimg{
    width: 100%
}
.help{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 350px;
    top:899px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    color: #FFFFFF;
    position: absolute;
    width: 430px;
    height: 74px;
    left: 350px;
    top:899px;
    background-color: #33ADF1;
}
.stand {
    position:absolute;
    width:548px;
    height:86px;
    left:350px;
    top:1150px;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-style: 400;
    font-size: 64px;
    line-height:135%;
    color:#0BBBD3;
}
.stand__span {
    color: grey;
}